@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  @apply bg-gray-100 text-gray-900 dark:bg-gray-900 dark:text-white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

/* Genel tablo stilleri */
.my-custom-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  font-size: 0.875rem;
  color: #e5e7eb;
  table-layout: auto;
}

/* Tablonun ilk ve son hücrelerine border-radius ekle */
.my-custom-table thead tr:first-child th:first-child {
  border-top-left-radius: 10px;
}
.my-custom-table thead tr:first-child th:last-child {
  border-top-right-radius: 10px;
}
.my-custom-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
.my-custom-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

/* Koyu mod için daha iyi kontrast */
@media (prefers-color-scheme: dark) {
  .my-custom-table {
    color: #e5e7eb;
    background-color: #181818;
  }
  .my-custom-table thead {
    background-color: #222222;
  }
  .my-custom-table tbody tr:nth-child(odd) {
    background-color: #1e1e1e;
  }
  .my-custom-table tbody tr:nth-child(even) {
    background-color: #161616;
  }
  .my-custom-table th, .my-custom-table td {
    border-color: #333333;
  }
}

.my-custom-chart canvas {
  width: 100% !important;
  height: auto !important;
}
